* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 1440px;
height: 3981px;
}

/* Header 1 styles */

.section1 {
  background-color: #284854;
  height: 799px;
  width: 1440px;
  left: 0%;
  right: 0%;
  top: 0px;
  overflow: hidden;
}

/* Navigation styles */

li {
  list-style-type: none;
}

.navigation {
  margin: 23px 97px 119px 113px;
  height: 85px;
  width: 1234px;

  background: #60c1bd;
  border: 2px solid #60c1bd;
  border-radius: 100px;
  text-align: right;
}
.navigation ul li{
  display: inline-block;
  padding: 0px 42px 0px 42px;
}

/* IndeVets */
h2 {
  height: 33px;
  left: 2.6%;
  right: 87.24%;
  top: 27px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;
  
}
#logo{
  padding: 27px 0px 0px 32px;
  margin: 0px;
  height: 33px;
  width: 125px;
  left: 2.6%;
  right: 87.24%;
  top: 27px;
  bottom: 21px;
  
}

/* NavLinks styles and position */
.nav_links {
  height: 25px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #284854;
  display: inline-block;
  align-items: end;
 right: 50px;
}


/* Button */

.login_button {
  height: 27px;
  width: 77px;
  left: 89.19%;
  right: 7.89%;
  top: 41px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid #ffffff;
  padding: 4px 20px;
  background-color: #60c1bd;
display: inline-block;
  color: #ffffff;
  
  margin: 0px 77px 17px;
}


/* Veterinary staffing done right. Title styles */
.title1{
  height: 204px;
  width: 712px;
left: 0%;
right: 4.56%;
top: -15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 85px;
line-height: 102px;

color: #8BC441;
margin: 119px 548px 0px 180px;
}

.text1{
height: 112px;
width: 542px;
left: 0%;
right: 28.31%;
top: 249px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;

color: #FFFFFF;
margin: 60px 718px 120px 180px;
}

/* Images */
.image_girl{
  width: 320px;
height: 361px;
border-radius: 0px;
margin-top : -438px;
margin-bottom: 177px;
margin-left: 938px;
}

/* Card 1 */
.card_1{
  height: 203px;
  width: 506px;
background-color: #F4F6F0;
border-radius: 4px;
display: inline-block;

}

.veterinarians{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 43px;
width: 237px;
display: inline-block;

color: #8BC441;

}

.veterinarians_description{
  font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
display: inline-block;
color: #60C1BD;
}

.image_woman_cat{
  padding: 45px 46px 47px 30px;
}

/* Card 2 */
.card_2{
  height: 203px;
  width: 506px;
background-color: #F4F6F0;
border-radius: 4px;
display: inline-block;

}

.hospitals{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 43px;
width: 237px;
display: inline-block;

color: #8BC441;

}

.hospitals_description{
  font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
display: inline-block;
color: #60C1BD;
}

.image_dog_cat{
  padding: 45px 46px 47px 30px;
}

section{
  justify-content: space-between;
}